<%- include('./header.ejs')%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/style" />

    <!-- Bootstrap Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- hero -->
    <section id="hero">
      <div class="container">
        <div class="px-4 py-5 mt-5 text-center">
          <h1 class="display-5 fw-bold text-body-emphasis">
            Lets Learn About Us
          </h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
              The college has own well-developed state of art infrastructure.
              The Institute has been built on a land, 20 acres in area with
              construction of nearly 20,000 Sq. M. in a pollution-free
              surrounding. The campus is easily approachable from all corners of
              greater gwalior.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 pb-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="https://i.pinimg.com/736x/d3/f5/47/d3f54775df5bfe35999db4dfd185cefb.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              COMPUTER CENTER
            </h1>
            <p class="lead">
              The institute has fully air-conditioned state of art Central
              Computer Center, which is available to students of all branches
              and the staff during and after college hours. It is equipped with
              100 no. of the latest PC's and licensed software. Apart from the
              Central computing facility there are separate computer centers in
              each department.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
    <!-- Java Script Link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<%- include('./footer.ejs')%>